<reference path="~/Scripts/bootstrap.min.js"></reference>
@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.11.1/validate.min.js"></script>*@
    <script src="~/Scripts/validate.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>*@
    <script src="~/Scripts/angular-route.js"></script>

    @* Our custom Javascript goes in these files *@
    <script src="~/AngularRouting.js"></script>
    <script src="~/CustomJavaScript.js"></script>
    @* CSS files *@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    @* Our custom CSS goes in this file *@
    <link rel="stylesheet" type="text/css" href="~/Content/CustomStyleSheet.css" />
</head>
<body style="background: url('http://i66.tinypic.com/ka04u9.jpg') no-repeat center center fixed;
      background-size: 100% 100%;
      color: white">
        @* Shop Header with two rows *@
        <header>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                        <img src="http://i63.tinypic.com/4ht992.jpg" />
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">@Html.ActionLink("Movies", "Index", "Home")</li>
                            <li>@Html.ActionLink("Available Movies", "type", "Home")</li>
                            <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
          </header>

        <div class="row">
            
            <div class="col-md-12">
                @* index.cshtml loads here *@
                @RenderBody()
            </div>

        </div>
    @* This is the Footer of the shop *@
    <footer class="navbar-fixed-bottom text-center" style="background-color:#1c6c6c; color:white">
        <p>Angular_Movies©Copyright @DateTime.Now.ToString("dd-MM-yyyy") | PFinnfors WassimElBittar maher2u</p>
    </footer>

    @Scripts.Render("~/Scripts/ThirdParty")
</body>
</html>